- content_for :title do
  Sign in
.span4
  .well
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .inputs
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      %hr.no-margin/
      .actions.div-table
        = f.button :submit, "Sign in", :class => 'btn btn-inverse pull-right'
        = render "links"