<p id="notice"><%= notice %></p>

<p>
  <b>Rulename:</b>
  <%= @rule.rulename %>
</p>

<p>
  <b>Amount:</b>
  <%= @rule.amount %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
