!!!
%html

  %head
    %link{ :rel => "shortcut icon", :href => "assets/atharva.png", :type => "image/x-icon"}/
    %title
      Atharva Residency
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Muli:300"
    = stylesheet_link_tag "validationEngine.jquery"
    = javascript_include_tag "application", controller_name, "bootstrap-modal"
    = csrf_meta_tag
    = yield(:head)

  %body
    .container-fluid.status
      .row-fluid
        .span5
          %a{:href => "/"}
            %img{:src => "assets/atharvaresidency.png"}/
          
        .span7
          -if user_signed_in?
            .status-bar
              %span.pull-right
                Signed in as
                = current_user.name
          %ul.nav{:style=>'margin-bottom:0;'}
            -if user_signed_in?
              %li= link_to "Members", members_path
              %li= link_to "Rule", members_path
              %li= link_to "Reports", members_path
              %li= link_to 'Admin', members_path
              %li= link_to 'Support', members_path
            %li= link_to "Sign out", destroy_user_session_path, :method => :delete

          %br/

      .row-fluid
        .centered
          %hr.no-margin/
        = yield
        
    .container-fluid
      %footer
        %hr.no-margin/
        %p.pull-left
          =link_to "Privacy Policy", members_path
        %p.pull-right
          &copy; 2012 Cube Root Software


