%p#notice= notice
%p
  %b Refnum:
  = @member.refnum
%p
  %b Name:
  = @member.name
%p
  %b Contactno:
  = @member.contactno
%p
  %b Email:
  = @member.email
= link_to 'Edit', edit_member_path(@member)
|
\#{link_to 'Back', members_path}
